<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>



    <%cadena = [('a'..'z'), ('A'..'Z'),(0..9)].map { |i| i.to_a }.flatten%>
    <%llave = (0...8).map{ cadena[rand(cadena.length)] }.join%>
    <%=llave%>
 


    <div>
      <%= f.hidden_field :codigo, :value =>llave.to_s %> 
      
    </div>


  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <!--<%= f.password_field :password, autocomplete: "off" %>-->
    <%= f.password_field :password, autocomplete: "off", value:llave.to_s %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", value:llave.to_s %>
  </div>

  <div class="field">
      <%= f.label :administrador %><br />
      <%= f.check_box :admin %>
  </div>

 
  
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
